<div class="search-field-container page-item">
  <input type="text" class="search-field" [(ngModel)]="searchField" (keyup)="searchProducts($event)" placeholder="Search products by name"/>
  <div class="products-search-container">
    <p class="products-search-item" (mouseenter)="setProductsInputValue(product)" (click)="setSelectedProduct(product)" *ngFor="let product of searchProductsResults">{{product.name}}</p>
  </div>
</div>
<div class="product-list-container page-item">
  <div *ngFor="let product of productsSorted | slice: 0 : slicingCount; let i=index" class="product-list-item">
    <div class="product-list-item-header">
      <img class="product-list-item-image" src="{{product.img}}"/>
    </div>
    <p class="product-item-title">{{product.name}}</p>
    <div class="product-list-item-content">
      <p class="product-item-text"><strong>Company:</strong> {{product.company}}</p>
      <p class="product-item-text"><strong>Created at:</strong> {{product.createdAt | date:'dd.MM.yyyy HH:mm'}}</p>
      <p class="product-item-text text-title">Description:</p>
      <p class="product-item-text">{{product.description}}</p>
      <p class="product-item-price">{{ product.price | currency }}</p>
    </div>
  </div>
</div>
<div *ngIf="productsSorted.length > slicingCount" class="show-more-section" (click)="setShowMoreProperty()">
  <p class="show-more-section-text">Show more products</p>
</div>
